* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color:#fff ;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  padding: 50px;
}
main{
  height: 100vh;
  background-color: black;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 100px;
}
.container1, .container2{
   border: 3px solid white;
   padding: 15px;
   border-radius: 10px;
}

.box {
  background: linear-gradient(to right bottom, rgb(250, 88, 121), rgb(226, 9, 52));
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
}

.circle {
  background: linear-gradient(to right bottom, lightblue, cadetblue);
  height: 300px;
  width: 300px;
  border-radius: 50%;
   margin: 20px;
}
