* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color:#fff ;
}

html,
body {
  height: 100%;
  width: 100%;
}
main{
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vw;
}
button{
  padding: 20px 40px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  background: linear-gradient(to right bottom, lightgreen,green); 
}
.box{
  height: 400px;
  width: 400px;
  border-radius: 20px;
  background:linear-gradient(to right bottom, rgb(128, 59, 73),crimson);
}

button:active{
    scale: 0.97;
} 